extends layout.pug
block content
    head
        meta(name='results', content=results)
        meta(name='search', content=search)
    h1.results Choose Your Album
    script.
        //clear results if album has been searched already
        var search = document.getElementsByName('search')[0].content;
        if (search) {
            const element = document.getElementById("myTable");
            element.remove(); 
        }
        document.getElementsByName('search')[0].content = true;
        //create table
        var album =  document.getElementsByName('results')[0].content;
        album= JSON.parse(album)
        var table = document.createElement("table");
        table.setAttribute("id", "myTable");
        //create album images
        var row = table.insertRow(-1);
        for (var p = 0; p < 3; p++) { 
            var pic = row.insertCell(-1);
            const img = new Image(300, 400); 
            img.src = album[p].images[0].url;
            pic.appendChild(img);
            var albumId = album[p].id;
            img.setAttribute("onclick","location.href = '/playlist?name='+albumId;");
        }
        
        //write album name
        var row2 = table.insertRow(-1);
        for (var p = 0; p < 3; p++) { 
            var title = row2.insertCell(-1);
            title.appendChild(document.createTextNode(album[p].name));
        }

        // write album artist
        var row3 = table.insertRow(-1);
        for (var p = 0; p < 3; p++) { 
            var artist = row3.insertCell(-1);
            artist.appendChild(document.createTextNode("By "+album[p].artists[0].name));
        }    
        document.body.appendChild(table);